header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.dropdown{
    position: static;
}
.dropdown-menu[data-bs-popper]{
    width: 100%;
    margin-top: 0;
}
.dropdown-menu{
    border:none;
    border-radius: 0;
}
.dropdown-menu.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
.dropdown-item{
    text-align: center;
}
.dropdown-item img{
    display: block;
    width: 100%;
}
.riquadro:hover{
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.hovcel:hover{
    --bs-dropdown-link-hover-color: #0c54b2;
}
.dropdown-toggle::after:active{
    content: "\F235";
}
.logo-img{
    width: 100px;
}
.logoplays{
    width: 50px;
}
.logolens{
    width: 30px;
}

.bottone{
    border: 1px solid rgb(52, 51, 51);
    border-radius: 25px;
    padding: 1px 13px;
    background-color: rgb(52, 51, 51);
    color: white;
}
.bottone-1{
    border: 1px solid rgb(52, 51, 51);
    border-radius: 25px;
    padding: 2px 20px;
    background-color: rgb(52, 51, 51);
    color: white;

}
.bordato{
    padding: .5px 6px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid transparent;
}
.ner.bordato:hover{
    padding: .5px 6px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgb(38, 37, 37);
}
.ros.bordato:hover{
    padding: 0.5px 6px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgb(240, 51, 51);
}
.rosso{
    background-color: rgb(240, 51, 51);
    border: solid 3px transparent;
    padding: .8px;

}
.rosso:hover{
    border: solid 3px rgb(240, 51, 51);
    padding: .8px;
    background-clip:content-box; 
}
.azzurro{
    background-color: rgb(49, 65, 239);
    border: solid 3px transparent;
    padding: .8px;
}
.azzurro:hover{
    border: solid 3px rgb(49, 65, 239);
    padding: .8px;
    background-clip:content-box; 

}
.trasparente{
    background-color: rgba(255, 255, 255, 0.322);
    border: 1px solid rgba(255, 255, 255, 0.322);
    color: rgb(25, 70, 205);
    border: solid 3px transparent;
    padding: .8px;
}
.trasparente:hover{
    border: solid 3px rgba(255, 255, 255, 0.322);
    padding: .8px;
    background-clip:content-box; 


}
.bianco{
    background-color: white;
    color: black;
}
.bianco:hover{
    border: solid 3px white;
    padding: .8px;
    background-clip:content-box; 

}
.pt-20{
    padding-top: 280px;
}
.returnal{
    margin-top: 100px;
    background-image:url(../img/jumbo-bg.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.returnal-logo{
    height: 50px;
}
.bordo{
    border-radius: calc(1rem - 3px);

}
.card{
    border-radius: 10px;
    overflow: hidden;
}
.card.active{
    border: 3px solid blue;
    border-radius: 1rem;
    padding: 3px;
}

.border_r{
    border-radius: 10px;
    overflow: hidden;
}
.overflow-hidden{
    overflow: hidden;
}

.card.bordo_bottom{
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(25, 70, 205);
}

.it-takes{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}
.logo-it{
    width: 150px;
}
.nuove-uscite{
    background-color: rgb(38, 37, 37);

}
.card{
    border-radius: 0;
    border: none;
}
.colore{
    background-color: rgb(38, 37, 37);

}
.card-img-top{
    border-radius: 10px;
}

.plus{
    background-color: rgb(199, 193, 185);
}
.img-play-logo{
    max-width: 400px;
}
.bgsabbia{
    background-color:rgb(199, 193, 185);
}
.psnow{
    background-color: rgb(27, 27, 53);
}
.blue{
    background-color: rgb(27, 27, 53);
}
footer{
    background-color: rgb(25, 70, 205);
}
.lightblue{
    background-color: rgb(25, 70, 205);
    width: 150px;

}
.list_style_none{
    list-style: none;
}